header{
    width:1250px;
    height: 80px;
    margin: 0 auto;
}
.nav-reper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    width:100%;
    
}

.nav-section{
    display: flex;
}
ul li{
    list-style: none;
    padding-left: 40px;
    
  
    
}
ul a{
    text-decoration: none;
    color: blueviolet;
}
.header-focus{
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
    padding-left: 10px;
}
.logo-header{
    display: flex;
    align-items: center;



}
.logo-image{
    width: 40px;
    height: 30px;
    margin-right: 0px;
    padding-right: 0px;
}
.text-color{
    color: #FF5400;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav-section{
    margin-right: 50px;
    padding-right: 50px;
}

.header-icon{
    display: flex;

}

/* banner section start*/

.back-image{
    display: flex;
    background-image: url(../Images/Group\ 13\ .png);
    background-repeat: no-repeat;
    width: 1140px;
    height: 500px;
    text-align: center;
    margin-top: 40px;
    margin-left: 60px;
    
}
.image-backpart{
    justify-content: center;
    align-items: center;
}

.txt-resize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    /*display: inline-flex;
    padding: 16px;
    align-items: center;
    gap: 24px; */
   display: flex;
   justify-content: space-around;
   align-items: center; 
   width: 800px;
   margin-left: 120px;
   border-radius: 8px;
   background: rgba(245, 232, 232, 0.3);

}
button{
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 42px;
    flex-shrink: 0;
    margin-left: 0px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    background: #FFF;
}
.submit{
    background: #FF5400;
}

.txt-travel{
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
   font-weight: 800;
   line-height: normal;
   margin-top: 100px;
}

.sub-travel{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}



.text-section{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
}
.text-image{
    width: 500px;
    height: 350px;
}
.text{
    width: 50%;
    margin-right: 40px;
    
}
.btn-middle{
    border-radius: 8px;
    background: #FF5400;
    color: aliceblue;
}
.text-choice{
    text-align: center;
}
.text-size{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
    gap: 10px;
}

.card-hotel{
    width: 574px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 10px;
    margin-bottom: 10px;
}
.card-location{
    width: 574px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-bottom: 10px;
}
.hotel-image{
    width: 64px;
    height: 64px;
}
.location-image{
    width: 64px;
    height: 64px; 
}
.card-discount{
   
    width: 574px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}
.discount-image{
    width: 64px;
    height: 64px;
}

.text-head{
    text-align: center;
}
.text-design{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.sub-text{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.image-section{
    
    width:80%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.image-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.image-1{
    position: relative;
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}
.image-2{
    position: relative;
    grid-column: 7/span 6;
}
.image-3{
    position: relative;
    grid-column: 1/span 4;
}
.image-4{
    position: relative;
    grid-column: 5/span 5;
}
.image-5{
    position: relative;
    grid-column: 10/span 4;
}
.image-6{
    position: relative;
    grid-column: 1/span 6;
}
.image-7{
    position: relative;
    grid-column: 7/span 6;
}
.image-container img{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.place-name{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
   /* transform: translate(-50%, -50%);*/
}


.upfooter-section{
    width:100%;
    display: flex;
    margin-top: 100px;
    
}
.left-text{
    width: 50%;
    margin-left: 50px;

}

.text-head{
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}
.txt-para{
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.txt-list{
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.btn-text{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}

.txt-deg{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
  .right-image{
    width:50%;
    margin-right: 40px;
  }
  .upfooter-section img{
    width: 600px;
    height: 300px;
  }

.lower-section{
    width: 1250px;
    height: 350px;
    display: flex;
    margin-top: 70px;
    margin-left: 40px;
}

.news-section{
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border: 1px solid #FF5400;
    border-radius: 16px;
}

.news-head{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 30px;
}

.news-para{
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-left: 30px;
}

.btn-1{
    width: 390px;
    height: 52px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.btn-2{
    width: 390px;
    height: 52px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.btn-3{
    width: 390px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 30px;
}

.news-image{
    width: 670px;
    margin-left: 100px;
}

.offer{
    width: 300px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    transform: rotate(-35deg);
    bottom: 200px;
    margin-left: 450px;
}

.offer-para{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offer-add{
    color: #FFF;
    font-family: Mulish;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.footer-text{
    display: flex;
    justify-content: center;
}

.footer-icon{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-image3{
    width: 34px;
    height: 24px;
}

.footer-endline{
    width: 1320px;
    border: 1px solid gray;
    margin-top: 100px;
    margin-bottom: 100px;
}

.authentication{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
/* Responsi
  
/* Responsi
/* Responsive style for header*/

@media screen and (max-width:576px) {
    .nav{
     display: none; 
     .header-focus{
     margin-left: 40px;  
     } 
 }
}
 